name: 'bot-pilot-dev'
networks:
  caddy-dev:
services:
  caddy-dev:
    image: caddy:latest
    container_name: caddy-dev
    restart: unless-stopped
    ports:
      - "8080:8080"
      - "8443:8443"
    networks:
      - caddy-dev
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile:ro,Z
      - ./bot-pilot-chat/frontend/dist:/var/www/bot-pilot-frontend:ro
