name: 'bot-pilot-dev'
networks:
  dev-network:
services:
  bot-pilot-frontend:
    build:
      context: ./bot-pilot-chat/frontend
      dockerfile: ./dev/Containerfile
    container_name: bot-pilot-frontend
    restart: unless-stopped
    env_file:
      - ./bot-pilot-chat/frontend/.env.dev
    environment:
      - NODE_ENV=local
      - SERVE_API=local
    networks:
      - dev-network
    ports:
      - "8080:3000"

  bot-pilot-rasa-core:
    build:
      context: ./bot-pilot-chat/backend/rasa-actions
      dockerfile: ./container/Containerfile_core
    container_name: bot-pilot-rasa-core
    environment:
      - LOG_LEVEL=debug
    restart: unless-stopped
    networks:
      - dev-network
    ports:
      - "5005:5005"