name: 'bot-pilot-dev'
networks:
  caddy-dev:
services:
  bot-pilot-frontend:
    image: docker.io/normanboettcher/bot-pilot:frontend-latest
    container_name: bot-pilot-frontend
    restart: unless-stopped
    networks:
      - caddy-dev
    ports:
      - "8080:80"