name: 'bot-pilot-dev'
networks:
  dev-network:
services:
  bot-pilot-frontend:
    build:
      context: ./bot-pilot-chat/frontend
      dockerfile: ./dev/Containerfile
    container_name: bot-pilot-frontend
    restart: unless-stopped
    env_file:
      - ./bot-pilot-chat/frontend/.env.dev
    environment:
      - NODE_ENV=local
      - SERVE_API=local
    networks:
      - dev-network
    ports:
      - "8080:3000"

  bot-pilot-rasa-core:
    depends_on:
      - bot-pilot-actions
    build:
      context: ./bot-pilot-chat/backend/rasa-actions
      dockerfile: ./container/Containerfile_core
    container_name: bot-pilot-rasa-core
    environment:
      - LOG_LEVEL=debug
    restart: unless-stopped
    networks:
      - dev-network
    ports:
      - "5005:5005"

  bot-pilot-actions:
    build:
      context: ./bot-pilot-chat/backend/rasa-actions
      dockerfile: ./container/Containerfile_actions
    container_name: bot-pilot-actions
    restart: unless-stopped
    networks:
      - dev-network
    environment:
      - ACTIONS_LOG_LEVEL=debug
    ports:
      - "5055:5055"

  bot-connectors:
    build:
      context: ./bot-pilot-chat/backend/bot-connectors
      dockerfile: ./Containerfile
    container_name: bot-connectors
    restart: unless-stopped
    networks:
      - dev-network
    env_file:
      - ./bot-pilot-chat/backend/bot-connectors/.env
    ports:
      - "8000:8000"