{
	local_certs

}

dev.staging.bot-pilot.de:8443 {
	tls /root/certs/dev.staging.bot-pilot.de.pem /root/certs/dev.staging.bot-pilot.de-key.pem
	file_server
	handle {
			   reverse_proxy bot-pilot-frontend:80
		   }

	log {
			output stdout
			format console
			level DEBUG
		}

}

