name: docker-io-login
description: Logs into docker.io

runs:
  using: "composite"
  steps:
    - name: Set up Docker Buildx
    - uses: docker/setup-buildx-action@v3

    - name: Login to docker.io
      uses: docker/login-action@v3
      with:
        registry: docker.io
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_TOKEN }}

