name: BotPilot CI

on:
  push:
    paths:
      - 'bot-pilot-chat/backend/chat-backend/**'
      - '.github/workflows/backend.yml'
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        python-version: [ '3.10' ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install tox
        run: |
          python -m pip install --upgrade pip
          pip install tox
        working-directory: bot-pilot-chat/backend/chat-backend

      - name: Run all unit tests
        run: tox  -e unit_tests -- --hypothesis-profile=ci
        working-directory: bot-pilot-chat/backend/chat-backend
