name: Deploy Dev-Stage CI

on:
  workflow_dispatch:
  workflow_run:
    workflows: ["Docker Image CI"]  
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }} || ${{github.event == 'workflow_dispatch'}}
    
    runs-on: dev-stage

    steps:
      - name: Login to Docker Hub manually for Docker
        run: |
          docker login -u "${{ secrets.DOCKER_HUB_USERNAME }}" -p "${{ secrets.DOCKER_HUB_TOKEN }}"
      - name: Login to Docker Hub manually for Podman
        run: |
          podman login docker.io -u "${{ secrets.DOCKER_HUB_USERNAME }}" -p "${{ secrets.DOCKER_HUB_TOKEN }}"
          echo "REGISTRY_AUTH_FILE=$(podman info --format '{{ .Store.ConfigFile }}')" >> $GITHUB_ENV
      - name: Fetch current configs
        run: |
          echo "Fetch current config files from bot-pilot-config"
          cd /home/nbptst/apps/bot-pilot-config && git fetch && git reset --hard origin/main
          echo "Current config files fetched successfully"
      - name: Deploy Applications to Dev
        run: |
          export DOCKER_HOST=unix://$XDG_RUNTIME_DIR/podman/podman.sock
          cd /home/nbptst/apps/bot-pilot-config/deployment && docker compose down && docker compose pull && docker compose up -d
